# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Mac system files
.DS_Store

# IDE/editor files
.vscode/
.idea/

# Operating system files
Thumbs.db
Desktop.ini

# Build directories
/dist/
build/

# Optional: Ignore any file created by your editor (e.g., .sublime-workspace, .sublime-project, etc.)
